nltk
beautifulsoup4
certifi
cloudpickle
joblib
llvmlite
lxml
numba
numpy
pandas
python-dateutil
py3-tts
pytz
scikit-learn
scipy
six
soupsieve
sparse
spacy
jupyterlab
jupyter
lab
termcolor
matplotlib
speechrecognition
google-cloud-speech
urllib3
python-decouple
gensim

