<!DOCTYPE html>
<html>
<head>
    <style>
        body { margin: 0; padding: 0; overflow: hidden; background: transparent; }
    </style>
    <script>
        function vh_sceneLoaded() {}
        function vh_talkEnded() {}
    </script>
</head>
<body>
    <script type="text/javascript" src="//vhss-d.oddcast.com/vhost_embed_functions_v4.php?acc=8688641&js=0"></script>
    <script type="text/javascript">
        AC_VHost_Embed(8688641, 250, 300, "", 1, 0, {{ scene_id }}, 0, 1, 0, "3epui05wd6TRKAR6VBtYFvm4cKrZMwVw", 0, 0);
    </script>
</body>
</html>
